{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './style.css' %}">
    <script src="https://cdn.staticfile.org/vue/2.6.9/vue.js"></script>
</head>

<body>
    <div id='app' class="container">
   <!--<img src="{% static './bg.jpg' %}"  /> -->  
        <div class="panel">
            <div class="content login">
                <div class="switch">
                    <span :class='{"active": active === "login"}' @click='go("login")'>登陆</span>
                    <span>/</span>
                    <span :class='{"active": active === "register"}' @click='go("register")'>注册</span>
                </div>
                <div class='form' id="fromLogin">
                    <template v-if='active === "register"'>
                        <form action="register" method="POST">
                            {% csrf_token %}
                            <h3 style="color: red">{{ msg }}</h3>
                            <div class="input"><input type="text"  placeholder="email" name="email" value=""  /></div>
                            <div class="input"><input type="text"  placeholder="username" name="username" value=""  /></div>
                            <div class="input"><input type="password"  placeholder="Password" name="Password" value=""  /></div>
                            <div class="input"><input type="password"  placeholder="Passwordrepeat" name="Passwordrepeat" value=""  /></div>
                            <button type="submit">注册</button>
                        </form>
                    </template>

                    <template v-if='active === "login"'>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <h3 style="color: red">{{ msg }}</h3>
                            <div class="input"><input type="text" placeholder="Username" name="Username" value="" /><!--<label for="username"></label>--></div>
                            <div class="input"><input type="password" placeholder="Password" name="Password" value=""  /></div>
                            <span>forget?</span>
                            <button type="submit">登陆</button>
                            <!--<input type="submit" value="登录"><br>--> 
                        </form>
                    </template>

                 
                    
                </div>
            </div>
        </div>
    </div>
</body>

<script>
var vue = new Vue({
    el: '#app',
    data: {
        active: 'login'
    },
    methods: {
        go (type) {
            this.active = type
        }
    },
    beforeMount () {
        
    }
})
</script>

</html>